<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'members/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="shortcut icon" type="image/png" href="{% static 'members/images/talon-logo.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Tracker</title>
</head>
<body style="font-family: 'Karla', serif;">
    {% load static %}
    <header style="text-align: center">
        <h1>Team 2502</h1>
        <h1>Time Tracker</h1>
        <img src="{%  static 'members/images/talon-logo.png' %}">
    </header>

    <br>

    {% if messages %}
        {% for message in messages %}
            <p style="color: forestgreen">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if members %}

        <form action="{% url 'signed_in'%}" method="post" style="text-align: center">
            {% csrf_token %}
            <select name="login_select" id="login_select">
                {% for member in members %}
                <option value={{ member.id }}>{{ member }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Sign In">
        </form>

    {% else %}
        <h2 style="text-align: center">Everyone signed in!</h2>
    {% endif %}

    <br>

    {% if members_signed_in %}

        <form action="{% url 'signed_out'%}" method="post" style="text-align: center">
            {% csrf_token %}
            <select name="logout_select" id="logout_select">
                {% for member in members_signed_in %}
                <option value={{ member.id }}>{{ member }}</option>
                {% endfor %}
            </select>
            <br>

            <input type="radio" id="virtual" name="location" value="virtual" checked>
            <label for="virtual">Virtual &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <br>
            <input type="radio" id="in_person" name="location" value="in_person">
            <label for="in_person">In Person</label>
            <br>
            <label for="activity">What did you do?</label>
            <input name="activity" id="activity" type="text" autocomplete="off" maxlength="50"> <br>
            <input type="submit" value="Sign Out">
        </form>

    {% else %}
        <h2 style="text-align: center">No one signed in!</h2>
    {% endif %}

    <br>

    <a href="{% url 'view_all' %}" style="text-align: center" >View All Team Members</a><br>
    <a style="text-align: center" href="{% url 'at_the_room' %}">View Team Members Present</a><br><br>

    <a href="{% url 'new_member' %}" style="text-align: center" >New Team Member</a><br><br>

    <a style="text-align: center" href="{% url 'export' %}">Export CSV</a><br>

</body>
</html>