<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'members/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="shortcut icon" type="image/png" href="{% static 'members/images/talon-logo.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Member</title>
</head>
<body style="font-family: 'Karla', serif;">
    {% load static %}
    <header style="text-align: center">
        <h1>Team 2502</h1>
        <h1>Time Tracker</h1>
        <br>
        <h2>Create New Team Member</h2>
    </header>

    <form action="{% url 'new_member'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>
</body>
</html>