<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'members/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="shortcut icon" type="image/png" href="{% static 'members/images/talon-logo.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Tracker</title>

</head>
<body style="font-family: 'Karla', serif;">
    <header>
        <h1>Team 2502</h1>
        <h1>Time Tracker</h1>
        <br>
        <h2>{{ member }}</h2><br>
        <h2>Total Hours: {{ member.num_hours }}</h2>
        <h2>Virtual Hours: {{ member.num_hours_virtual }}</h2>
        <h2>In Person Hours: {{ member.num_hours_in_person }}</h2>
        <h2>Rank #{{ rank }}</h2>
    </header>

    <table>
    <caption>Times Signed In</caption>
        {% for appearance in member.appearance_set.all reversed %}
            <tr>
                {% if appearance.location == "virtual" %}
                    <td> {{ appearance}} </td>
                {% elif appearance.location == "in_person" %}
                    <td style="color: darkred"> {{ appearance}} </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>