<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'members/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="shortcut icon" type="image/png" href="{% static 'members/images/talon-logo.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Tracker</title>

</head>
<body style="font-family: 'Karla', serif;">
    <header>
        <h1>Team 2502</h1>
        <h1>Time Tracker</h1>
        <br>
        <h2>{{ member }}</h2><br>
        <h2> {{ appearance }}</h2>
    </header>

    <table>
    <th>Times</th>\
    <th>Member</th>
        {% for appearance in appearances %}
            <tr>
                {% if appearance.location == "virtual" %}
                    <td> {{ appearance}}  <br> {{ appearance.activity }}</td>
                {% elif appearance.location == "in_person" %}
                    <td style="color: darkred"> {{ appearance}} <br> {{ appearance.activity }}</td>
                {% endif %}
                <td> <a href="{% url 'member_detail' member.first_name member.last_name %}">{{ appearance.member }}</a> </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>