<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'members/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="shortcut icon" type="image/png" href="{% static 'members/images/talon-logo.png' %}"/>
    <meta charset="UTF-8">
    <title>Time Tracker</title>
</head>
<body style="font-family: 'Karla', serif;">
    <header class="center">
        <h1>Team 2502 Time Tracker</h1>
        <h2>Members Signed In</h2>
    </header>
    <table class="members_here">
        {% for member in members %}
            <tr>
                <td>{{ member }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>